<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>

<div class="footer">
    <div class="container d-flex justify-content-center" style="margin-top: 8rem;margin-bottom: 4rem;">
        <button type="button" class="btn btn-outline-light" style="width: 20%;">
            <a href="https://github.com/Debo12/Covid-19-Project" style="color: white;">
                <span style="padding-right: 5px;"><i class="fa fa-github"></i></span>Github Project
            </a>
        </button>
    </div>

    <div class="d-flex justify-content-center">
        <p>&copy; Copyright Covid19 Project 2020.</p> 
    </div>
</div>